<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "google-signin-client_id" content = "1035194613450-4h4ar1n47l8o1eql2f50131aer36lu2q.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
        
    </div>
</body>
</html>