    <div class="jumbotron">
        <h2>Deleting Branch</h2>
        <p>Are you sure you want to delete {{branch.name}}?</p>
        <form method="post">
            <button type="submit">
                <span class="glyphicon glyphicon-trash">Delete</span>
            </button>
            <a href="{{url_for('showCatalog')}}">
                <button type="button">
                    <span class="glyphicon glyphicon-remove">Cancel</span>
                </button>
            </a>
        </form>
    </div>

