<style>
  body{
    background-color:DodgerBlue;
  }
</style>
<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="{{url_for('showCatalog')}}"><font family="Brush Script MT" size="6"><b>Online Courses App</b></font></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav pull-right">
              {% if 'username' not in session %}
                <li><a href="{{url_for('showLogin')}}"><font size="5">Login</font></a></li>
              {% else %}
                
                <li><a href="{{url_for('gdisconnect')}}"><font size="5">Logout</font></a></li>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('catalogJSON')}}" title="All Courses JSON"><span class="glyphicon glyphicon-send"></span> </a></li>
              </ul>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->