<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "google-signin-client_id" content = "1035194613450-4h4ar1n47l8o1eql2f50131aer36lu2q.apps.googleusercontent.com">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '1035194613450-4h4ar1n47l8o1eql2f50131aer36lu2q.apps.googleusercontent.com'
          });
        });
      }
  </script>
</head>
<body>

    <div class="container">
        <div class = "row">
            <h1>Sign in with Google</h1>
            <button id="signinButton" class="btn btn-primary btn-outline">Sign in</button>
        </div>
    </div>

    <div class="container">
        <div class = "row">
            <div id="result"></div>
        </div>
    </div>

    <!--Implement Google Log-in-->
    <script>
      $('#signinButton').click(function() {
        function signInCallback(authResult){
          if (authResult['code']){
            $('#signinButton').attr('style', 'display: none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success:function(result){
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = "/courses";
                }, 2000);
              },
              processData:false,
              data:authResult['code']
            });
          } else{
            // handle error
            console.log('There was an error: ' + authResult['error']);
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>
</body>
</html>